.mx-form {
  --mx-form-label-font-size: var(--mx-font-size-base);
}
.mx-form-item {
  display: flex;
  --font-size: 14px;
  margin-bottom: 18px;
  .mx-form-item__label {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    /* flex: 0 0 auto; */
    font-size: var(--mx-form-label-font-size);
    color: var(--mx-text-color-regular);
    height: 32px;
    line-height: 32px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
    width: 150px;
  }
  .mx-form-item__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    line-height: 32px;
    position: relative;
    font-size: var(--font-size);
    min-width: 0;
  }
  .mx-form-item__error-msg {
    position: absolute;
    color: var(--mx-color-danger);
    font-size: 12px;
    line-height: 1;
    padding-top: 2px;
    top: 100%;
    left: 0;
  }
}

.mx-form-item.is-error .mx-input__wrapper {
  box-shadow: 0 0 0 1px var(--mx-color-danger) inset;
}
.mx-form-item.is-required > .mx-form-item__label:before {
  content: '*';
  color: var(--mx-color-danger);
  margin-right: 4px;
}
